@if (visible) {
  <div
    class="kt-alert kt-alert-light"
    [class.kt-alert-destructive]="type === 'danger'"
    [class.kt-alert-warning]="type === 'warning'"
    [class.kt-alert-success]="type === 'success'"
    [class.kt-alert-info]="type === 'info'"
    role="alert"
  >
    <div class="kt-alert-content">
      <div class="kt-alert-description">{{ message }}</div>
    </div>

    @if (dismissible) {
      <button class="kt-alert-close" type="button" [attr.aria-label]="i18n.t('alert.close')" (click)="dismiss()">
        <i class="ki-filled ki-cross"></i>
      </button>
    }
  </div>
}
